{namespace fs=Tx_Flexslider_ViewHelpers}
{namespace v=Tx_Vhs_ViewHelpers}
{namespace a=Tx_Aloha_ViewHelpers}

<f:layout name="Default" />

<f:section name="main">

	<f:flashMessages />

	<f:if condition="<f:count subject='{flexSliders}' /> > 0">

		<f:render partial="ResourceFiles" arguments="{settings: settings}"/>
		<f:render partial="JavaScript" arguments="{settings: settings, data: data}"/>

		<div class="flexslider loading flex-special flex-slider" id="fs-{data.uid}">
			<ul class="slides" style="list-style-type: none;">

				<f:for each="{flexSliders}" as="slide">
					<li style="float:left; display:none;">
						<v:var.set name="textExists">0</v:var.set>
						<f:for each="{0:slide.title , 1:slide.subtitle, 2:slide.caption}" as="var">
							<f:if condition="{var}">
								<v:var.set name="textExists">1</v:var.set>
							</f:if>
						</f:for>

						<f:if condition="{textExists} == 1">
							<f:then>
								<f:if condition="{settings.showCaption} > 0">
									<f:then>
										<section>
											<f:if condition="{slide.title}">

 											<f:format.html parseFuncTSPath="lib.parseFunc"><h1><a:editable table="tx_flexslider_domain_model_flexslider" field="title" uid="{slide.uid}" configuration="{settings.aloha.text}">{slide.title}</a:editable></h1></f:format.html>

											</f:if>
											<f:if condition="{slide.subtitle}">
												<p><f:format.html parseFuncTSPath="lib.parseFunc"><f:format.crop maxCharacters="{settings.subtitle.maxCharacters}">{slide.subtitle}</f:format.crop></f:format.html></p>
											</f:if>
											<f:if condition="{slide.link}">
												<f:if condition="{slide.caption}">
													<f:link.page class="btn btn-default btn-large" pageUid="{slide.link}">{slide.caption}</f:link.page>
												</f:if>
											</f:if>
										</section>
									</f:then>
								</f:if>
							</f:then>
						</f:if>

						<v:var.set name="imageUrl"><f:uri.image 
								src="uploads/tx_flexslider/{slide.image}" 
								width="{settings.images.width}" height="{settings.images.height}"
								minWidth="{settings.images.minWidth}" minHeight="{settings.images.minHeight}"
								maxWidth="{settings.images.maxWidth}" maxHeight="{settings.images.maxHeight}" 
						/></v:var.set>

						<f:comment><figure class="cover" style="background-image: url({imageUrl})"></f:comment>
						<figure class="cover{f:if(condition: '{textExists} == 0', then: ' nosection', else: '')}" style="background-image: url({imageUrl})">
							<f:comment><f:image
								src="{imageUrl}"
								alt="{slide.caption}"
								/></f:comment>
						</figure>
					</li>
				</f:for>

			</ul>
		</div>

	</f:if>

</f:section>
