#typo3-navigationContainer-xsplit .x-layout-mini-west {
	display: block; 
	background-image:url('../../Images/Backend/button_left.gif');
	padding: 30px 1px;
}

#typo3-navigationContainer-xcollapsed .x-layout-mini-west {
	display: block; 
	background-image:url('../../Images/Backend/button_right.gif');
	padding: 30px 1px;
	left: 10px;
}