html {
	height: 100%;
}
body {
	/*background-image: url('../../img/login_background.png'), url('../../img/login_background_circle.png') !important;
	background-repeat: repeat, no-repeat !important;
	background-position: top left, center center !important;*/
	line-height: 1em;
	height: 100%;
}

.column p {
	margin-bottom: 1em;
	margin-top: 0;
}

label {
	font-size: 13px;
	margin-right: 10px;
	margin-left: 3px;
}

#typo3-index-php #t3-login-process h2 {
	background: url('../../Images/Backend/loading-spinner.gif') no-repeat 10px center;
	font-size: 11px !important;
	color: #ccc3c8;
	top: 30%;
}

.t3-login-box-body {
	overflow: hidden;
	background: none;
	background-color: #2a2a2a;
	color: #ccc3c8;
	-webkit-border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}

body > form {
	height: 100%;
}

#t3-login-floater {
	float:left;
	height:75%;
	margin-bottom:-510px;
}

#typo3-index-php #t3-login-form {
	padding: 0;
	position: relative;
	clear: both;
	z-index: 5;
}

#typo3-index-php .t3-headline {
	background-color: #252525;
	border-bottom: 1px solid #474747;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	overflow: hidden;
}

#typo3-index-php .shadow {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border: 1px solid #252726;
}

#typo3-index-php .t3-login-form-footer a.switchToOpenId:hover, #typo3-index-php dl#t3-login-news a:hover {
	color: #B0B0B0;
}

#typo3-index-php .t3-login-field input {
	width: 155px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#typo3-index-php .t3-login-field input[type=radio] {
	width: auto;
	border-radius: none;
}

#typo3-index-php .t3-login-field input:focus {
	outline: none;
    border-color: #1e90ff;
    box-shadow: 0 0 10px #1e90ff;
}

#typo3-index-php .t3-login-field input.t3-login-submit {
	padding: 5px 15px 5px 15px;
	margin-top: 5px;
}

#typo3-index-php .t3-login-field input.t3-login-submit:hover, #typo3-index-php .t3-login-field input.t3-login-submit:active {
	background-color: #ff8600;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#cf6610), to(#ff8600));
	background-image: -webkit-linear-gradient(top, #cf6610, #ff8600);
	background-image:    -moz-linear-gradient(top, #cf6610, #ff8600);
	background-image:     -ms-linear-gradient(top, #cf6610, #ff8600);
	background-image:      -o-linear-gradient(top, #cf6610, #ff8600);
}

.column {
	width: 50%;
	float:left;
	margin-top: 20px;
}

.column p {
	font-size: 13px;
	margin-right: 20px;
}

.t3-login-box-body {
	padding: 10px 25px;
}

#typo3-index-php .t3-login-logo {
	margin: 10px;
}

#typo3-index-php .t3-pixelant-logo {
	float: right;
	margin: 9px 9px 0;
}

#typo3-index-php div#t3-copyright-notice {
	position: absolute;
	bottom: 5px;
	margin: 0 20%;
	padding: 0;
	border: none;
}

#typo3-index-php #t3-login-interface-section {
	/*margin-top: 60px;*/
}

#t3-login-interface-section input {
	vertical-align: middle;
}

#typo3-index-php #t3-interfaceselector {
	display: none;
}

#typo3-index-php .t3-login-field .t3-login-clearInputField {
	right: 3px;
}

#typo3-index-php #t3-login-news-outer #t3-login-news .t3-login-news-item.first-item {
	padding-top: 0;
}

.t3-login-box-body {
	color: #ccc3c8;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 14px;
}

#typo3-index-php #t3-login-news-outer #t3-login-news .t3-login-news-item p {
	margin: 0;
}
